<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name=viewport
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>

    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称:{{ name }}</h2>
        <h2>学校地址:{{ address }}</h2>
        <hr>
        <h1>学生信息</h1>
        <button @click="addSex">添加一个性别属性,默认是男</button>
        <h2>学生姓名:{{stu.name}}</h2>
        <h2 v-if="stu.sex">学生性别:{{stu.sex}}</h2>
        <h2>学生年龄: 真实年龄{{stu.age.rage}}, 对外年龄:{{stu.age.sage}}</h2>
        <hr>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f,index) in stu.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>
<script type="text/javascript">
    const vm = new Vue({
        el: '#root',
        data:{
            name: '武汉大学',
            address: '武汉',
            stu:{
                name: 'tom',
                age:{
                    rage: 12,
                    sage: 29
                },
                friends: [
                    { name: 'test', age: 18, sex: 'male' },
                    { name: 'Curry', age: 18, sex: 'male' },
                ]
            }
        },
        methods:{
          addSex(){
              this.$set(this.stu,'sex','男')
          }
        },
    })
</script>
</body>
</html>