<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <title>遍历数组</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>请输入名字:</h2><input type="text" placeholder="请输入名字" v-model="keyword">
        <ul>

            <li v-for='(person, index) of filterPersons' :key="index">
                <!--p可能来自形参，也可能来自于写在data里的属性，更可能来自于计算属性 computed-->
                {{person.name}} - {{ person.age }}--{{person.sex}}
            </li>
        </ul>

    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false;
        //用watch实现
        // new Vue({
        //     el: '#root',
        //     data: {
        //         keyword:'',
        //         //数组
        //         persons: [
        //             {id: '001', name: '周杰伦', age: 18,sex:'女'},
        //             {id: '002', name: '周冬雨', age: 19,sex:'男'},
        //             {id: '003', name: '温兆伦', age: 20,sex:'女'},
        //             {id: '004', name: '温杰雨', age: 20,sex:'男'}
        //         ],
        //         filterPersons:[],
        //     },
        //     watch:{
        //         keyword: {
        //             immediate: true,
        //             handler(val) {
        //                 // console.log(neword)
        //                 this.filterPersons = this.persons.filter((p) => {
        //                     return p.name.indexOf(val) !== -1
        //                 })
        //             }
        //         }
        //
        //     }
        // })
        //用computed实现
        const vm = new Vue({
            el: '#root',
            data: {
                keyword: '',
                //数组
                persons: [{
                    id: '001',
                    name: '周杰伦',
                    age: 18,
                    sex: '女'
                }, {
                    id: '002',
                    name: '周冬雨',
                    age: 19,
                    sex: '男'
                }, {
                    id: '003',
                    name: '温兆伦',
                    age: 20,
                    sex: '女'
                }, {
                    id: '004',
                    name: '温杰雨',
                    age: 20,
                    sex: '男'
                }],
            },
            computed: {
                filterPersons() {
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyword) !== -1;
                    })
                }
            }
        })
    </script>
</body>

</html>